@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&family=VT323&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 850px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

.font-pixel {
  font-family: 'Press Start 2P', cursive, monospace;
}

.font-silkscreen {
  font-family: 'Silkscreen', cursive, monospace;
}

.font-vt323 {
  font-family: 'VT323', monospace;
}


html,
body {
  overflow-x: clip;
  width: 100%;
}

#app {
  overflow-x: clip;
}
